

.database-collection.movies.display-item .tagline {
    font-size: .8em;
}

@media (orientation: landscape) {

    .database-collection.movies.display-item .item-text {
        padding: 0 1.5%;
        position: relative;
    }

    .database-collection.movies.display-item .item-text.overview {
        position: absolute;
    }
}