

.database-collection.movies.display-item .tagline {
    font-size: .8em;
}

@media (orientation: landscape) {

    .database-collection.movies.display-item .tagline {
        padding: 0 1.5%;
        position: relative;
    }
}