.database #menubar,
.database #viewport {
    background-color: black;
}

.database .context-menu {
    background: black;
}

#media-browser .fanart {
    position: relative;
    border-bottom: 2px solid white;
}

#media-browser .fanart:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

#media-browser .fanart img.fanart-collage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#media-browser .fanart .fanart-h1 {
    position: absolute;
    bottom: 0;
    text-align: right;
}

.fanart-h1 {
    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    padding: 14px;
    width: calc(100% - 28px);
    text-shadow: -3px -3px 10px rgba(0, 0, 0, 0.75), 3px -3px 10px rgba(0, 0, 0, 0.75), 3px 3px 10px rgba(0, 0, 0, 0.75), 0 3px 10px rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
}

@media (orientation: portrait) {
    #media-browser {
        transition: transform 0s !important;
        transform: translateX(0) !important;
    }
}

@media (orientation: landscape) {
    .database #menubar {
        display: none;
    }

    .database #viewport {
        top: 0;
        height: 100%;
    }

    #media-browser {
        width: calc(3 * 100%);
        height: 100%;
    }

    #media-browser .fanart {
        float: left;
        width: 33.333333%;
    }

    .fanart-h1 {
        font-size: 6em;
    }
}