* {
    font-family: Source Sans Pro, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #696969;
    position: absolute;
    z-index: 0;
    font-size: 16px;
}

#splash {
    margin-top: 20px;
}

#splash img {
    margin: 0 auto;
    display: block;
}

#splash * {
    text-align: center;
}

ul {
    list-style-type: none;
}

.shadow {
    box-shadow: 0 3px 15px rgba(0,0,0,0.5);
}

.text-shadow {
    text-shadow: -3px -3px 10px rgba(0, 0, 0, 0.75) /* lt */,
    0 -3px 10px rgba(0, 0, 0, 0.75) /* t */,
    3px -3px 10px rgba(0, 0, 0, 0.75) /* rt */,
    3px 0 10px rgba(0, 0, 0, 0.75) /* r */,
    3px 3px 10px rgba(0, 0, 0, 0.75) /* rb */,
    0 3px 10px rgba(0, 0, 0, 0.75) /* b */,
    -3px 3px 10px rgba(0, 0, 0, 0.75) /* lb */,
    -3px 0 10px rgba(0, 0, 0, 0.75) /* l */,
    0 0 10px rgba(0, 0, 0, 0.75) /* c */;
}

.clearer:before,
.clearer:after {
    content:"";
    display:table;
    font-size: 0;
    line-height: 0;
}
.clearer:after {
    clear:both;
}

#viewport {
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    width: 100%;
    z-index: 0;
}

.italic {
    font-style: italic;
}

.left {
    float: left;
}
.right {
    float: right;
}

.button {
	background: none repeat scroll 0 0 #FFA500;
	border: 1px solid #000000;
	float: right;
	margin-left: 5px;
	padding: 5px 10px;
	cursor: default;
}

.gui-blocker {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(1, 1, 1, 0.01);
    z-index: 2;
    display: none;
}

.gui-blocker.blocking {
    display: block;
}

.list-item {
    position: relative;
}

.list-item span {
    width: calc(100% / 3);
    display: block;
    float: left;
    border-bottom: 1px solid rgb(155,155,155);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listitem-menu-button {
    position: absolute;
    right: -2px;
    top: 10px;
    text-align: center;
    width: 20px;
}

.listitem-menu-button:active {
    background-color: rgba(255,255,255,0.5);
}

.top-tipp:after,
.broadcast .content[class*="rating-"]:after {
    position: absolute;
    bottom: 0;
    right: 20px;
    color: #ffaf17;
    font-family: VDR-web, sans-serif;
}
span.rating span:first-child {
    color: #ffaf17;
}
.channel-view .content[class*="rating-"]:after,
.epg-search-view .content[class*="rating-"]:after,
.channel-view .content[class*="rating-"]:before,
.epg-search-view .content[class*="rating-"]:before {
    content: '';
}

.rating-1:after {
    content: '★';
}
.rating-2:after {
    content: '★★';
}
.rating-3:after {
    content: '★★★';
}
.rating-4:after {
    content: '★★★★';
}
.rating-5:after {
    content: '★★★★★';
}

.broadcast .content span.tip,
.recording span.tip {
    content: 'Y';
    color: green;
    font-family: VDR-web, sans-serif;
}
.broadcast .content span.top-tip,
.recording span.top-tip {
    color: blue;
}
.broadcast .content span.tip-of-the-day,
.recording span.tip-of-the-day {
    color: red;
}


.throbber {
    display: none;
}
.throbber.show {
    display: block;
}

img.hidden-for-processing {
    position: absolute;
    left: -99999px;
    top: 0;
}


@media (min-width: 800px), (min-height: 800px) {
    body {
        font-size: 26px;
    }
}

@media (min-width: 1100px), (min-height: 1100px) {
    body {
        font-size: 28px;
    }
}