
* {
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #707070;
    position: relative;
    z-index: 0;
}

ul {
    list-style-type: none;
}

.clearer:before,
.clearer:after {
    content:"";
    display:table;
}
.clearer:after {
    clear:both;
}

#viewport {
    position: fixed;
    top: 50px;
    left: 0;
    height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
    z-index: 0;
}

.italic {
    font-style: italic;
}

.left {
    float: left;
}
.right {
    float: right;
}

.button {
	background: none repeat scroll 0 0 #FFA500;
	border: 1px solid #000000;
	float: right;
	margin-left: 5px;
	padding: 5px 10px;
	cursor: default;
}
