
#timeline {
    height:15px;
    width:2000px;
    position: absolute;
    top: 0;
    left: -500px;
    background-image: linear-gradient(90deg, black 50%, white 0);
    background-size: 240px 100%;
    z-index: 1;
}

#epg {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 15px);
}

#epg-channels {
    width: 39px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    border-right: 1px solid black;
}

#epg-channels .channel {
    width: 39px;
    height: 39px;
    border-bottom: 1px solid black;
    background-size: 39px 39px;
    background-color: white;
    color: #707070;
    font-size: 10px;
}

#broadcasts-wrapper {
    position: absolute;
    width: calc(100% - 40px);
    top: 0;
    left: 40px;
    overflow-x: scroll;
}
#broadcasts {
    width: 5000px;
    overflow: auto;
    background-image: linear-gradient(0deg, #000000 1px, rgba(0, 0, 0, 0) 0%);
    background-size: 100% 40px;
}
#broadcasts .broadcasts-list {
    height: 40px;
}
#broadcasts .broadcasts-list .broadcast {
    float: left;
    height: 39px;
    background-image: linear-gradient(135deg, dimgrey 15%, #404040 85%);
    font-size: 9px;
    overflow: hidden;
    color: white;
}
#broadcasts .broadcasts-list .broadcast {
    float: left;
    height: 39px;
    background-image: linear-gradient(135deg, dimgrey 15%, #404040 85%);
}
#broadcasts .broadcasts-list .broadcast div {
    height: 35px;
    padding: 2px;
}
#broadcasts .broadcasts-list .broadcast.active-timer div {
    background-image: linear-gradient(135deg, #404040 30%, #930000 70%);
    background-size: 5px 5px;
    background-position: right bottom;
    background-repeat: no-repeat;
}


/*
#timeSelector li {
	font-size: 15px;
	font-weight: bold;
	line-height: 22px;
}
#menubar .epg-wrapper .date {
	font-size: 10px;
}
.epg-wrapper dt, .epg-wrapper dd {
	float: left;
}
.epg-wrapper dd {
	width: calc(100% - 40px); /* breite der Kanallogos abziehen * /
	overflow: auto;
	background-image: linear-gradient(0deg, #000000 1px, rgba(0, 0, 0, 0) 0%);
	background-size: 100% 40px;
}
.epg-wrapper div#timeline {
	height: 20px;
	border-bottom: 1px solid black;
	color: white;
	font-size: 9px;
	padding-left: 40px;
	background: #404040;
	position: fixed;
	top: 38px;
	width: 100%;
}
.epg-wrapper div#timeline div {
	float: left;
	width: 15px;
	line-height: 20px;
}
.epg-wrapper div#timeline div.odd {
	color: black;
	background: white;
}
.epg-wrapper div#timeline .qr {
	text-align: left;
}
.epg-wrapper div#timeline .ql {
	text-align: right;
}
.epg-wrapper div#timeline .ql.hour {
	font-size: 12px;
	font-weight: bold;
}
.epg-wrapper li.channel,
.epg-wrapper li.events {
	margin-bottom: 1px;
	height: 39px;
	color: white;
}
.epg-wrapper li.channel {
	border-right: 1px solid black;
	width: 39px;
	font-size: 10px;
	color: dimgrey;
	background: white;
}
.epg-wrapper li.channel img,
.epg-wrapper li.channel div {
	width: 39px;
	height: 39px;
}
.epg-wrapper li.events {
	width: 100%;
}
.epg-wrapper li.event {
	float: left;
	font-size: 9px;
	height: 39px;
	overflow: hidden;
	background-image: linear-gradient(135deg, dimgrey 15%, #404040 85%);
}
.epg-wrapper li.event div {
	height: 35px;
	padding: 2px;
}
.epg-wrapper li.event.active-timer div {
	background-image: linear-gradient(135deg, #404040 30%, #930000 70%);
	background-size: 5px 5px;
	background-position: right bottom;
	background-repeat: no-repeat;
}
*/