#epg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    height: 100%;
    background-color: #696969;
}

#epg-channels {
    width: 39px;
    position: absolute;
    left: 0;
    top: 21px;
    z-index: 1;
    border-right: 1px solid black;
    box-shadow: 3px 0 15px rgba(0,0,0,0.5);
}

#epg-channels .channel {
    width: 39px;
    height: 39px;
    border-bottom: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    color: #696969;
    font-size: .65em;
    position: relative;
}

#epg-channels .channel:active {
    z-index: 1;
    box-shadow: 0 0 40px 0 blue;
}

#broadcasts-wrapper {
    position: absolute;
    width: calc(100% - 40px);
    top: 21px;
    left: 40px;
    height: calc(100% - 21px);
    overflow: auto;
}
.is-touch #broadcasts-wrapper {
    overflow: hidden;
}

.is-firefox #broadcasts-wrapper {
    overflow: auto;
}
#broadcasts {
    position: relative;
    z-index: 0;
    width: 4000px;
    overflow: auto;
    background-image: linear-gradient(0deg, #000000 1px, rgba(0, 0, 0, 0) 0%);
    background-size: 100px 40px;
}

#epg-time-indicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(99, 138, 195, 0.15);
    border-right: 1px solid rgba(255, 0, 0, 0.5);
    z-index: 1;
}

.channel-view #epg-time-indicator {
    display: none;
}
#broadcasts .broadcasts-list {
    height: 40px;
    position: relative;
    z-index: 0;
}
#broadcasts .broadcasts-list .broadcast {
    position: absolute;
    top: 0;
    height: 39px;
    font-size: .65em;
    color: white;
    font-family: Source Sans ProBold, sans-serif;
    background-image: linear-gradient(135deg, dimgrey 15%, #404040 85%);
}
#broadcasts .broadcasts-list .broadcast.invisible,
#broadcasts .broadcasts-list.invisible .broadcast {
    display: none !important;
}
#broadcasts .broadcasts-list .broadcast.has-image .title span {
    /*background: rgba(0, 0, 0, 0.19);*/
    border-radius: 5px;
    display: inline-block;
    background-image: linear-gradient(135deg, dimgrey 15%, rgba(64, 64, 64, 0.5) 85%);
    background-repeat: no-repeat;
    background-position: -4px -4px;
    padding-right: 4px;
}
#broadcasts .broadcasts-list .broadcast div {
    height: calc(100% - 4px);
    padding: 2px;
    overflow: hidden;
    position: relative;
}
#broadcasts .broadcasts-list .broadcast div.broadcast-image {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
}
#broadcasts .broadcasts-list .broadcast div.broadcast-image,
#broadcasts .broadcasts-list .broadcast div.broadcast-image img {
    height: 100%;
}
#broadcasts .broadcasts-list .broadcast div.broadcast-image img {
    float: right;
}
#broadcasts .broadcasts-list .broadcast div {
    /*text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);*/
}
.epg-search-view  .broadcast.timer-exists div.content,
#broadcasts .broadcasts-list .broadcast.timer-exists div.content {
    background: linear-gradient(135deg, #404040 30%, #939393 70%);
    background-size: 5px 5px;
    background-repeat: no-repeat;
    background-position: right bottom;
}
#broadcasts .broadcasts-list .broadcast.timer-active div.content {
    background-image: linear-gradient(135deg, #404040 30%, #930000 70%);
    background-size: 5px 5px;
}
.epg-search-view  .broadcast.timer-active div.content,
.channel-view #broadcasts .broadcasts-list .broadcast.timer-active div.content {
    background-image: linear-gradient(135deg, #696969 30%, #930000 70%);
    background-size: 5px 5px;
}
#broadcasts .broadcasts-list .broadcast:active {
    /*background: rgb(168, 168, 168);*/
}


#epg-date {
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #404040 40%, transparent 90%);
    width: 100px;
    height: 16px;
    line-height: 16px;
    font-size: .65em;
    padding: 2px 3px;
    z-index: 3;
}
#epg-timeline-right-gradient {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(90deg, transparent 10%, #404040 85%);
    width: 100px;
    height: 16px;
    line-height: 16px;
    font-size: .65em;
    padding: 2px 3px;
    z-index: 3;
    display: none;
}
div#time-line {
	height: 20px;
	padding-left: 40px;
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
    z-index: 2;
    background: #404040;
    border-bottom: 1px solid black;
    color: white;
    font-size: .75em;
}
div#time-line div {
	float: left;
	width: 15px;
	line-height: 20px;
    overflow: hidden;
}
div#time-line div.odd {
    color: #404040;
	background: white;
}
div#time-line .ql,
div#time-line .qr {
    text-align: left;
    font-size: .75em;
}
div#time-line .ql {
	text-align: right;
}
div#time-line .ql.hour {
	font-size: 1em;
	font-weight: bold;
}

.window.broadcast.timer-exists .window-body.has-tabs .tabs {
    background-size: 40px 40px;
    background-image: linear-gradient(225deg, #545454 30%, transparent 50%);
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.window.broadcast.timer-exists.timer-active .window-body.has-tabs .tabs {
    background-image: linear-gradient(225deg, rgb(115, 0, 0) 30%, transparent 50%);
}

.window.broadcast .list-item-edit-button {
    display: none;
}
.window.broadcast.timer-exists .list-item-edit-button {
    display: block;
}

.window.broadcast .window-header-image {
    margin-left: 8px;
}

.window.broadcast .window-header-image.expand {
    margin-left: 0;
}

#epg *:after,
#epg *:before {
    text-shadow: 1px 1px 7px rgba(0, 0, 0, 1);
    background: rgba(94, 94, 94, 0.54);
    border-radius: 5px;
}

#epg .channel[data-hd="true"]:before {
    content: 'HD';
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(115, 115, 115);
    font-weight: bold;
    font-size: 9px;
    background-color: rgba(255, 255, 255, .5);
    padding: 0 1px;
    border-radius: 11px;
}

/* Channel view, EPG Searchresults */

.epg-search-view {
    overflow: auto;
    height: 100%;
}

.epg-search-view form,
.epg-search-buttons,
.epg-search-no-results{
    padding: 0 5px;
}
.epg-search-buttons .button-confirm {
    background: rgb(39, 97, 181);
    border: 1px outset rgba(99, 138, 195, 1);
    min-width: 50px;
    text-align: center;
}

#epg-channels .channel .mute {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.channel-view #epg-channels .channel.is-muted .mute {
    display: block;
}
.channel-view #epg-date,
.channel-view #epg-timeline-right-gradient,
.channel-view #time-line {
    display: none;
}
.channel-view #broadcasts-wrapper {
    top: 66px;
    left: 0;
    width: 100%;
    height: calc(100% - 66px);
}
.channel-view #epg-channels {
    top: 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 65px;
    background: white;
    transform: initial !important;
}
.channel-view #epg-channels .channel {
    display: inline-block;
    border: none;
    margin: 0 3px;
    top: -2px;
    z-index: 0;
}
.channel-view #epg-channels .channel.active {
    width: 55px;
    height: 55px;
    top: 5px;
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
    z-index: 1;
}

.visible-channel-view {
    display: none;
}
#broadcasts .broadcasts-list .broadcast .visible-channel-view * {
    height: auto;
}
.epg-search-view .broadcast {
    position: relative;
    border-bottom: 1px solid white;
    margin: 10px;
}

.epg-search-view .visible-channel-view,
.channel-view .visible-channel-view {
    display: block;
}
.epg-search-view .visible-epg-view,
.channel-view .visible-epg-view {
    display: none;
}

.channel-view #broadcasts {
    width: 100% !important;
}
.channel-view #broadcasts .broadcasts-list.active {
    display: block;
}
.channel-view #broadcasts .broadcasts-list {
    width: 100% !important;
    height: auto;
    display: none;
}
.channel-view #broadcasts .broadcast {
    position: relative;
    width: 100% !important;
    left: 0 !important;
    height: auto !important;
    background: #696969;
    display: block !important;
    font-size: inherit;
    border-bottom: 1px solid white;

}
.epg-search-view .broadcast div.broadcast-image,
.channel-view #broadcasts .broadcasts-list .broadcast div.broadcast-image {
    width: 15%;
    float: left;
    height: auto;
    position: static;
    margin: 10px;
}
.epg-search-view .broadcast div.broadcast-image img,
.channel-view #broadcasts .broadcasts-list .broadcast div.broadcast-image img {
    width: 100%;
    height: auto;
}
.epg-search-view .broadcast .content,
.channel-view #broadcasts .broadcasts-list .broadcast .content,
.channel-view #broadcasts .broadcasts-list .broadcast.has-image .content {
    margin: 0 10px;
    border: none;
    background-image: none;
    overflow: hidden;
    position: static;
}
.epg-search-view .broadcast .title,
.channel-view #broadcasts .broadcast .title {
    font-size: 1em;
}
.epg-search-view .broadcast.has-image .title span,
.channel-view #broadcasts .broadcasts-list .broadcast.has-image .title span {
    background: none;
}
.epg-search-view .broadcast .visible-channel-view *,
.channel-view #broadcasts .broadcast .visible-channel-view * {
    font-size: .75em;
}
.epg-search-view .broadcast .visible-channel-view .channel {
    margin-left: 1em;
}

.epg-search-view .has-image *:after,
.epg-search-view .has-image *:before,
.channel-view .has-image *:after,
.channel-view .has-image *:before {
    background: rgba(94, 94, 94, 0.54);
    border-radius: 5px;
}

.epg-search-view .broadcast .visible-channel-view .description,
.channel-view #broadcasts .broadcast .visible-channel-view .description {
    height: calc(.75em * 5);
    overflow: hidden;
}
#broadcasts .broadcasts-list .broadcast.first-visible,
#broadcasts .broadcasts-list .broadcast.first-visible ~ .broadcast {
    display: block;
}
#broadcasts .broadcasts-list .broadcast,
#broadcasts .broadcasts-list .broadcast.last-visible ~ .broadcast {
    display: none;
}

@media (min-width: 800px), (min-height: 800px) {
    div#time-line {
        padding-left: 60px;
    }
    #epg-channels {
        width: 59px;
    }
    #epg-channels .channel {
        width: 59px;
        height: 59px;
    }
    .channel-view #epg-channels {
        height: 105px;
    }
    .channel-view #epg-channels .channel {
        top: -3px;
    }
    .channel-view #epg-channels .channel.active {
        width: 79px;
        height: 79px;
    }
    #broadcasts-wrapper {
        left: 60px;
        width: calc(100% - 60px);
    }
    .channel-view #broadcasts-wrapper {
        top: 105px;
        height: calc(100% - 105px);
    }
    #broadcasts {
        background-size: 100% 60px;
    }
    #broadcasts .broadcasts-list {
        height: 60px;
    }
    #broadcasts .broadcasts-list .broadcast {
        height: 59px;
    }
}

@media (min-width: 1100px), (min-height: 1100px) {
    div#time-line {
        height: 40px;
        padding-left: 80px;
    }
    div#time-line div {
        line-height: 40px;
    }
    #epg-date {
        height: 36px;
        line-height: 36px;
    }
    #epg-channels {
        width: 79px;
    }
    #epg-channels .channel {
        width: 79px;
        height: 79px;
    }
    #epg-channels,
    #broadcasts-wrapper {
        top: 41px;
        height: calc(100% - 41px);
    }
    .channel-view #epg-channels {
        height: 115px;
    }
    .channel-view #epg-channels .channel {
        top: 2px;
    }
    .channel-view #epg-channels .channel.active {
        width: 89px;
        height: 89px;
    }
    #broadcasts-wrapper {
        left: 80px;
        width: calc(100% - 80px);
    }
    .channel-view #broadcasts-wrapper {
        top: 115px;
        height: calc(100% - 115px);
    }
    #broadcasts {
        background-size: 100% 80px;
    }
    #broadcasts .broadcasts-list {
        height: 80px;
    }
    #broadcasts .broadcasts-list .broadcast {
        height: 79px;
    }
}