form .category {
    margin-bottom: 15px;
}
form h2 {
    border-bottom: 2px solid white;
    margin: 5px 0;
    font-size: 1em;
}

.window-input label,
form label {
    display: block;
    width: 100%;
}

form label.constrained {
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    margin-left: 20px;
    overflow: hidden;
    transition: max-height .6s ease-out;
    max-height: 200px;
    transform: translateZ(0);
    perspective: 1000px;
    backface-visibility: hidden;
}

form label.constrained.disabled {
    max-height: 0;
    transition-timing-function: ease-in;
}

.window-input.select label.indent {
    width: calc(100% - 5px);
    width: -webkit-calc(100% - 5px);
    margin-left: 5px;
}
.window-input.select label input[type="radio"],
.window-input.select label input[type="checkbox"] {
    margin: 5px 0 0 5px;
    display: none;
}
.window-input.select label > span.child-wrapper,
.window-input.select label > span.text {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
}
.window-input.select label > span.child-wrapper {
    display: none;
    position: relative;
    top: .23em;
}
.window-input label > span.child-wrapper > label {
    padding-left: 10px;
    width: calc(100% - 10px);
}
.window-input.select label > span.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px 0 3px;
}
.window-input.select label.expand,
.window-input.select label.default-expanded {
    height: auto;
    margin-bottom: .75em;
}
.window-input.select label.default-expanded > span.child-wrapper,
.window-input.select label.expand > span.child-wrapper {
    display: block;
}
.window-input.select label span.text:active,
.window-input.select label.active > span.text {
    background-color: rgba(255,255,255,0.5);
    color: black;
}
.window-input.select label em.text {
    display: inline-block;
    font-style: normal;
    max-width: calc(100% - 60px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.window-input.select label.selected em.text {
    color: #000;
}

.directory-chooser label:before {
    content: 'e';
    font-family: VDR-Web, sans-serif;
    display: block;
    float: left;
    margin: .2em .2em 0;
    width: 1em;
    height: 1em;
    color: #ffb62a;
    line-height: 1em;
    text-align: center;
    font-size: 1em;
}
.directory-chooser label.active:before,
.directory-chooser label.expand:before,
.directory-chooser label.default-expanded:before {
    content: 'f';
}
.window-input label span:not([class~="fancy-checkbox"]),
.window-input label span:not([class~="fancy-radio"]) {
    display: block;
    border-bottom: 1px solid rgb(150, 150, 150);
    margin-left: -20px;
    padding: 0 20px;
    width: 100%;
}
.window-input label .info,
form label .info{
    display: block;
    width: 100%;
    font-size: .75em;
}

.window-input label input,
.window-input label select,
form label input,
form label select {
    float: right;
    text-align: right;
    background-color: #696969;
    margin: 5px 0;
    font-size: 1em;
}

.window-input input[type="text"],
.window-input input[type="number"],
form input[type="text"],
form input[type="number"] {
    width: calc(100% - 6px);
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    padding: 3px;
}
.window-input input[type="text"],
.window-input input[type="number"] {
    text-align: left;
}

form .form-field-boolean span.wrapper {
    padding: 5px 0 10px 0;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    display: block;
    position:relative;
}
form .form-field-boolean span.wrapper.has-accordion-indicator input {
    display: none;
}

form .disabled,
form .disabled * {
    color: rgb(180, 180, 180);
}

label input[type="checkbox"],
label input[type="checkbox"] {
    display: none;
}
label.clearer span.fancy-checkbox,
label.clearer span.fancy-radio {
    display: block;
    height: 12px;
    width: 12px;
    border: 1px solid #B3B3B3;
    line-height: 10px;
    font-size: 0;
    background: #8A8A8A;
    border-radius: 1px;
    position: absolute;
    top: 10px;
    right: 8px;
    margin: 0;
    padding: 0;
}
label.clearer span.fancy-radio {
    border-radius: 7px;
}
input[type="checkbox"] ~ span.fancy-checkbox span,
input[type="radio"] ~ span.fancy-radio span {
    font-size: 24px;
    transform: rotate(0deg) scale(0);
    transition: transform .2s ease-in-out, margin-left .2s;
    color: #FDCC07;
    display: block;
    height: 12px;
    font-weight: bold;
    margin-left: 0;
    border: none;
    padding: 0;
}
input[type="checkbox"]:checked ~ span.fancy-checkbox span,
input[type="radio"]:checked ~ span.fancy-radio span {
    transform: rotate(720deg) scale(1);
    margin-left: -2px;
}
input[type="radio"]:checked ~ span.fancy-radio span {
    margin-left: -4px;
    margin-top: 2px;
}
.window-input.select span.fancy-checkbox,
.window-input.select span.fancy-radio {
    top: 3px;
    right: 1px;
}

.window-input.channel-chooser,
.window-input.select {
    height: calc(100% - 80px);
    overflow-y: hidden;
}

.window-form .window-body,
.window-input.select .window-body {
    height: calc(100% - 61px);
    overflow-y: hidden;
    padding: 0;
}

.window-input.select .header {
    border-bottom: 1px solid rgb(150, 150, 150);
    padding: 0 20px;
}

.window-input.select .wrapper {
    height: calc(100% - 21px);
    overflow-y: auto;
    padding: 0 20px;
    margin-top: 5px;
}
.window-input.select label {
    margin-bottom: .25em;
    position: relative;
    /*height: 1.5em;*/
}
.window-input.select label.selected {
    background-color: rgba(255,255,255,0.5);
    color: #000;
}
.window-input.select label img {
    width: 30px;
    display: inline-block;
    margin-right: 5px;
    background: white;
    float: left;
}

.window-input.date-time {
    text-align: center;
}

.window-input.date-time select,
.window-input.date-time option {
    color: black;
}

.window-input.date-time span.info {
    display: block;
}

form.searchtimer {
    padding: 0 20px;
}

form.window.searchtimer .disabled {
    display: none;
}


@media (min-width: 800px), (min-height: 800px) {
    .window-input.select .wrapper {
        height: calc(100% - 40px);
    }
}

@media (min-width: 1100px), (min-height: 1100px) {
}
