ul#menubar #refresh,
ul#menubar li#throbber {
    float: right;
    margin: 3px 5px;
    display: none;
}
ul#menubar #refresh {
    margin: 5px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.italic {
    font-style: italic;
}

.window-drawer {
	width: 65%;
	overflow: visible;
	height: calc(100% - 50px);
	position:absolute;
	top: 50px;
    left: auto;
    right: auto;
    background: rgba(0,0,0,0.8);
	z-index: 1;
	color: white;
	box-shadow: 0 0 20px 0 black;
    border-right: 2px solid rgb(0,128,20);
    border-bottom: none;
}
.window-drawer .window-header,
.window-drawer .info .header {
    width: calc(100% - 10px);
    height: 30px;
    background: rgba(255, 255, 255, 0.49);
    font-family: Source Sans ProBold, sans-serif;
    color: black;
    line-height: 30px;
    padding: 0 0 0 10px;
}
.window-drawer .navi-button,
.window-drawer .info .info-item {
	padding: 5px 10px;
	font-size: 20px;
    border-bottom: 1px solid rgb(95, 95, 95);
}
.window-drawer .onAir {
    border-bottom: 1px solid rgb(95, 95, 95);
}
.window-drawer .onAir * {
    height: 40px;
    margin: 5px 0 5px 10px;
    float: left;
    display: block;
}
.window-drawer .onAir img {
    width: 40px;
    background: white;
}
.window-drawer .onAir span {
    line-height: 40px;
    width: calc(100% - 70px);
    padding-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* simple list */
.simple-list {
    height: 100%;
    overflow: auto;
}

.simple-list .list-item {
    border-bottom: 1px solid white;
    padding: 10px 5px;
    margin: 0 10px;
    font-size: 12px;
}