ul#menubar #refresh,
ul#menubar li#throbber {
    float: right;
    margin: 3px 5px;
    display: none;
}
ul#menubar #refresh {
    margin: 5px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.italic {
    font-style: italic;
}

.window-drawer {
    padding-top: 20px;
	width: 65%;
	overflow: visible;
	height: calc(100% - 20px);
	position:absolute;
	top: 0;
	left: -50%;
	/*background: linear-gradient(90deg, #404040 1%, #696969 100%);*/
    background: rgba(0,0,0,0.8);
	z-index: 1;
	color: white;
	box-shadow: 0 0 20px 0 black;
    border-right: 2px solid rgb(0,128,20);
}
.window-drawer .navi-button {
	padding:5px 10px;
	font-size: 20px;
    /*border-bottom: 1px solid white;*/
}
.window-drawer .navi-button.current {
	/*background:  linear-gradient(90deg, #696969 1%, #404040 100%);*/
    width: calc(100% - 20px);
    border-left: 5px solid white;
    padding-left: 5px;
}

/* simple list */
.simple-list {
    height: 100%;
    overflow: auto;
}

.simple-list .list-item {
    border-bottom: 1px solid white;
    padding: 10px 5px;
    margin: 0 10px;
    font-size: 12px;
}