#viewport #info {
    padding: 10px;
    overflow: auto;
    height: calc(100% - 20px);
}
#viewport #info .info-item {
    margin-bottom: 15px;
}

#viewport #info .diskusage-wrapper {
    height: 30px;
    border: 1px solid white;
    border-radius: 15px;
}

#viewport #info .diskusage-wrapper div {
    height: 28px;
    border-radius: 14px;
    background: green;
    margin: 1px;
}

#viewport #info .diskusage-wrapper div div {
    background: red;
    height: 16px;
    border-radius: 14px;
    line-height: 16px;
    font-size: 16px;
    padding: 6px;
    font-weight: bold;
    text-align: right;
}

#viewport #info .signal-indicator,
#viewport #info .signal-indicator div {
    position: relative;
    z-index: 0;
}
#viewport #info .signal-indicator div {
    z-index: 1;
}
#viewport #info .signal-indicator div.indicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, red 0%, yellow 50%, green 100%) no-repeat;
    z-index: 0;
    color: black;
    overflow: hidden;
}