
#menubar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 5px 5px 5px 15px;
    width: calc(100% - 20px);
    height: 40px;
    background-color: #638AC3;
}

#menubar .drawer-indicator {
    position: absolute;
    top: 21px;
    left: 0;
    height: 10px;
    width: 12px;
    background: linear-gradient(0deg, transparent 50%, white 50%) repeat-y center top;
    background-size: 12px 4px;
}

#menubar .icon {
    width: 40px;
    height: 40px;
}

#menubar #throbber {
    float: right;
    margin: 4px 0;
    display: none;
}
#menubar .epg-wrapper .date {
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 50px;
    background: linear-gradient(90deg, #404040 25%, transparent 89%);
    width: 100px;
    height: 14px;
    padding: 3px;
}