#osd {
    position: relative;
    background: black no-repeat center center;
    height: 49%;
}

#osd-items-wrapper {
    overflow: auto;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 30px;
}

#osd-items {
    border-spacing: 0;
    width: 100%;
}

.osd-item {
    color: white;
    font-weight: bold;
    white-space: pre-wrap;
    font-size: 12px;
    background-color: rgba(100, 100, 100, 0.5);
}
.osd-item td {
    padding: 4px 2px;
}
.osd-item:nth-child(2n) {
    background-color: rgba(125, 125, 125, 0.5);
}
.osd-item .list-key {
    text-align: right;
    vertical-align: top;
    width: 10px;
    padding-left: 0;
}

.osd-item.selected {
    color: black;
    background: rgba(255,255,255,0.5);
}

.osd-message {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 80%;
    background: rgba(14, 39, 14, 0.8);
    margin: auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

#osd-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 2%;
    height:20px;
}

#osd-buttons .color-button {
    position:absolute;
    text-align: center;
    width: 22.5%;
    font-size: 15px;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 20px;
    line-height: 20px;
}
#osd-buttons .color-button.long-text {
    font-size: 11px;
}
#osd-buttons .color-button.red {
    background-color: red;
    left: 2%;
}
#osd-buttons .color-button.green {
    background-color: green;
    left: 26.5%;
}
#osd-buttons .color-button.yellow {
    background-color: yellow;
    color: black;
    left: 51%;
}
#osd-buttons .color-button.blue {
    background-color: blue;
    left: 75.5%;
}

@media (min-device-width: 900px), (min-device-height: 900px) {
    .osd-item {
        font-size: 20px;
    }
}

@media (orientation: landscape) {
    #osd {
        width: calc(100% - 160px);
        height: 100%;
        float:left;
    }

    .osd-item {
        font-size: 16px;
    }
}
@media (orientation: portrait) {
    #osd {
        height: calc(100% - 215px);
    }
}