#osd-items {
    background: black;
    padding: 20px;
    max-height: 250px;
    overflow: hidden;
}

.osd-item {
    color: white;
    font-weight: bold;
}

.osd-item.selected {
    color: black;
    background: rgba(255,255,255,0.5);
}