#osd {
    position: relative;
    background: black;
    padding: 20px;
}

#osd-items {
    max-height: 250px;
    overflow: hidden;
    margin: 0 0 20px;
    height: 200px;
}

.osd-item {
    color: white;
    font-weight: bold;
    white-space: pre-wrap;
}
.osd-item .list-key {
    display: block;
    width: 23px;
    text-align: right;
    margin-right: 5px;
    float:left;
    height:100%;
}

.osd-item.selected {
    color: black;
    background: rgba(255,255,255,0.5);
}

#osd-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 2%;
    height:20px;
}

#osd-buttons .color-button {
    position:absolute;
    text-align: center;
    width: 22.5%;
    font-size: 15px;
    font-weight: bold;
}
#osd-buttons .color-button.red {
    background-color: red;
    left: 2%;
}
#osd-buttons .color-button.green {
    background-color: green;
    left: 26.5%;
}
#osd-buttons .color-button.yellow {
    background-color: yellow;
    color: black;
    left: 51%;
}
#osd-buttons .color-button.blue {
    background-color: blue;
    left: 75.5%;
}
