#viewport > .recordings-list > .list-item {
    margin: 0;
    padding: 0;
}
.recordings-path .name:before,
.recording.list-item .path:before {
    content: 'e';
    font-family: VDR-Web, sans-serif;
    display: block;
    float: left;
    margin: .2em;
    width: 1em;
    height: 1em;
    color: #ffb62a;
    line-height: 1em;
    text-align: center;
    font-size: 1em;
}
.recording.list-item span {
    border: none;
}
.recording.list-item .time {
    text-align: center;
}
.recording.list-item .duration {
    text-align: right;
}
.recording.list-item .name {
    border-bottom: 1px solid rgb(155,155,155);
    clear:both;
    padding-bottom: 10px;
    position: relative;
}
.recording.list-item .name:after {
    top: -5px;
    right: 12px;
    bottom: auto;
}
.recording.list-item .name:before {
    right: 12px;
}
.recording.list-item .shortText {
    font-size: .75em;
}

.window-recording .tab-content.details.current .watch-button {
    float: right;
}
.window-recording .tab-content.details.current .watch-button dt {
    background: transparent;
}
.window-recording .tab-content.details.current .watch-button dt:active {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.5), 0 0 30px #FFFFFF inset;
}
.window-recording .tab-content.details.current .watch-button dd {
    color: transparent;
}

@media (min-width: 800px), (min-height: 800px) {
}

@media (min-width: 1100px), (min-height: 1100px) {
}
