#viewport > .recordings-list > .list-item {
    margin: 0;
    padding: 0;
}
.recordings-path .name:before,
.recording.list-item .path:before {
    content: 'e';
    font-family: VDR-Web, sans-serif;
    display: block;
    float: left;
    margin: .2em;
    width: 1em;
    height: 1em;
    color: #ffb62a;
    line-height: 1em;
    text-align: center;
    font-size: 1em;
}
.recording.list-item span {
    border: none;
}
.recording.list-item .time {
    text-align: center;
}
.recording.list-item .name {
    border-bottom: 1px solid rgb(155,155,155);
    clear:both;
    padding-bottom: 10px;
    position: relative;
}
.recording.list-item .name:after {
    top: -5px;
    right: 0;
    bottom: auto;
}
.recording.list-item .name:before {
    right: 0;
}
.recording.list-item .shortText {
    font-size: .75em;
}


@media (min-width: 800px), (min-height: 800px) {
}

@media (min-width: 1100px), (min-height: 1100px) {
}
