#remote-buttons {
    width: 300px;
    max-width: calc(100% - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
}
.remote-group {
    float: left;
    width: 140px;
    margin: 5px 5px;
}

.remote-group .remote-button {
    float: left;
    width: 34px;
    height: 34px;
    line-height: 38px;
    background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%);
    background: radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%);
    border: 2px outset rgb(119, 119, 119);
    margin: 4px;
    border-radius: 17px;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

#remote-numpad .remote-button {
    line-height: 30px;
}
#remote-numpad .remote-button.txt {
    line-height: 34px;
}

.remote-group .remote-button:active {
    background: -webkit-radial-gradient(center, ellipse cover, #c6bfb3 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: radial-gradient(ellipse at center, #c6bfb3 0%,#000000 100%); /* W3C */
}

.remote-button.zero,
.remote-button.up,
.remote-button.down {
    margin: 3px calc(50% - 20px);
}
.remote-button.zero {
    margin: 3px 3px 3px calc(50% - 20px);
}
.remote-button.menu {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.remote-button .additional {
    position: absolute;
    bottom: 4px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    left: 0;
    right: 0;
}

.osd-view #remote {
    height: 215px;
    top: calc(100% - 215px);
}

@media (orientation: landscape) {
    .osd-view #remote {
        float:left;
        width: 160px;
    }
    .osd-view .remote-group {
        margin: 5px 0;
    }
    .osd-view #remote {
        height: 100%;
        left: auto;
        top: 0;
    }
    .osd-view #remote-buttons {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
    }
}
@media (orientation: landscape) and (max-height: 400px) {
    .osd-view .remote-group {
        height: calc(100% - 10px);
    }
}