#remote {
    height: 51%;
}
#remote-buttons {
    width: 300px;
    max-width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    overflow: auto;
}
.remote-group {
    float: left;
    width: 140px;
    margin: 5px 5px 20px;
}

.remote-group .remote-button {
    float: left;
    width: 34px;
    height: 34px;
    line-height: 38px;
    background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%);
    background: radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%);
    border: 2px outset rgb(119, 119, 119);
    margin: 4px;
    border-radius: 17px;
    position: relative;
    cursor: pointer;
}

#remote-numpad .remote-button {
    line-height: 30px;
}

.remote-group .remote-button:active {
    background: -webkit-radial-gradient(center, ellipse cover, #c6bfb3 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: radial-gradient(ellipse at center, #c6bfb3 0%,#000000 100%); /* W3C */
}

.remote-button.zero,
.remote-button.up,
.remote-button.down {
    margin: 3px calc(50% - 20px);
}
.remote-button.zero {
    margin: 3px 3px 3px calc(50% - 20px);
}
.remote-button.menu {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}

.remote-button .additional {
    position: absolute;
    bottom: 4px;
    height: 10px;
    line-height: 10px;
    font-size: 10px;
    left: 0;
    right: 0;
}

@media (orientation: landscape) {
    #remote {
        float:left;
        width: 50%;
    }
    .remote-group {
        margin: 5px 0 20px;
    }
    #remote,
    #remote-buttons {
        height: 100%;
    }
    #remote-buttons {
        width: 100%;
    }
}