#viewport.config {
    overflow: auto;
}
#settings {
    height: 100%;
    padding: 20px;
}
#settings .category {
    margin-bottom: 15px;
}
#settings h2 {
    border-bottom: 2px solid white;
    margin: 5px 0;
    font-size: 16px;
}
.window-input label,
#settings label {
    display: block;
    width: 100%;
}
.window-input label .info,
#settings label .info{
    display: block;
    width: 100%;
    font-size: 12px;
}

.window-input label input,
.window-input label select,
#settings label input,
#settings label select {
	float: right;
	text-align: right;
    background-color: #696969;
    margin: 5px 0;
    font-size: 16px;
}

.window-input input[type="text"],
.window-input input[type="number"],
#settings input[type="text"],
#settings input[type="number"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding: 3px;
}
