#viewport.config {
    overflow: auto;
}
#settings {
	height: 100%;
    padding: 20px;
}
#settings h2 {
    border-bottom: 2px solid white;
    margin: 5px 0;
    font-size: 16px;
}
#settings label {
	display: block;
	width: 100%;
}
#settings label input,
#settings label select {
	float: right;
	text-align: right;
    background-color: #707070;
    margin: 5px 0;
    font-size: 16px;
}

#settings input[type="text"],
#settings input[type="number"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    padding: 3px;
}
