
.timer.list-item .channel {
    text-align: center;
}
.timer.list-item .time {
    margin-bottom: 10px;
}
.timer.list-item .time {
    text-align: right;
    width: calc(100% / 3 - 24px);
}
.timer.list-item .path {
    clear: left;
}

.timer.list-item .filename:after {
    content: '✓';
    background: rgb(80,80,80);
    width: 16px;
    height: 16px;
    border-radius: 8px;
    bottom: 12px;
    right: 0;
    text-align: center;
    font-family: sans-serif;
    line-height: 16px;
    font-size: 14px;
    position:absolute;
}

.timer.list-item.active .filename:after {
    background: green;
}

.timer.list-item .path:before {
    content: 'e';
    font-family: VDR-Web, sans-serif;
    display: block;
    float: left;
    margin: .2em;
    width: 1em;
    height: 1em;
    color: #ffb62a;
    line-height: 1em;
    text-align: center;
    font-size: 1em;
}
.timer.list-item .filename {
    margin-top: 5px;
    clear: left;
    font-size: 16px;
}
.timer-exists .record-button dt {
    background: #FF0000;
}