
::-webkit-media-controls-overlay-enclosure,
::-webkit-media-controls-enclosure {
    display:none !important;
}
:-webkit-full-screen {
    background: black !important;
}

.html5-player,
.html5-player .html5-player-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.html5-player .html5-player-controls {
    bottom: 0;
    right: 0;
}
.html5-player video {
    position: relative;
    z-index: 0;
    width: 100%;
}
.html5-player.landscape video {
    position: absolute;
    display: block;
    margin: auto 0;
    bottom: 0;
    top: 0;
}
.html5-player{
    margin-top: -25%;
    top: 50%;
    bottom: auto;
}
.html5-player.landscape {
    margin: auto 0;
    top: 0;
    bottom: 0;
}
.html5-player .throbber {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 32px;
    height: 32px;
}
.html5-player .throbber.hidden {
    display: none;
}

.html5-player-controls div {
    position: absolute;
    background: linear-gradient(135deg, rgba(149,149,149,0.5) 0%,rgba(13,13,13,0.5) 46%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 53%,rgba(78,78,78,0.5) 76%,rgba(56,56,56,0.5) 87%,rgba(27,27,27,0.5) 100%);;
    line-height: 2;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0,.5);
    text-align: center;
    font-family: sans-serif;
    z-index: 1;
}


.html5-player-controls .stop,
.html5-player-controls .play,
.html5-player-controls .toggle-fullScreen,
.html5-player-controls .minimize {
    bottom: 15px;
}
.html5-player-controls .play {
    left: 10px;
}
.html5-player-controls .play.pause {
    /*line-height: 1.5;*/
    /*font-size: 30px;*/
    font-weight: bold;
}
.html5-player-controls .stop {
    left: 64px;
}

.html5-player-controls .toggle-fullScreen {
    left: 118px;
}

.html5-player-controls .minimize {
    left: 172px;
}

.html5-player-controls .channel-up,
.html5-player-controls .channel-down {
    left: 10px;
}

.html5-player-controls .channel-up {
    top: 77px;
}

.html5-player-controls .channel-down {
    top: 131px;
}

.html5-player-controls .info {
    z-index: 0;
    border: none;
    border-radius: 0;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    line-height: inherit;
}

.html5-player-controls .title {
    top: 28px;
    font-size: 16px;
}

.html5-player-controls .short-text {
    top: 50px;
    font-size: 12px;
}

.html5-player-controls .volume {
    bottom: 20%;
    top: 20%;
    right: 30px;
    width: 10px;
    height: auto;
}

.html5-player-controls .volume div {
    background: white;
    bottom: 1px;
    left: 1px;
    right: 1px;
    height: auto;
    width: auto;
    border: none;
}

.video-minimized .modal-video {
    height: auto;
    width: auto;
    bottom: auto;
    right: auto;
    display: block;
    left: 50%;
}
.video-minimized .video-player-wrapper {
    height: auto;
    margin: 0;
    top: 0;
    position: relative;
}

.video-minimized .video-player-wrapper video {
    height: 48px;
    width: auto;
    display: block;
}

.video-minimized .html5-player-controls {
    display: none;
}
@media (max-width: 480px) {
    .html5-player-controls .stop,
    .html5-player-controls .play,
    .html5-player-controls .toggle-fullScreen,
    .html5-player-controls .minimize {
        bottom: -59px;
    }
    .html5-player-controls .channel-up,
    .html5-player-controls .channel-down {
        top: -50px;
    }
    .html5-player-controls .channel-down {
        left: 64px;
    }
    .html5-player-controls .volume {
        top: 77px;
        bottom: 10px;
    }
}