
::-webkit-media-controls-overlay-enclosure,
::-webkit-media-controls-enclosure {
    display:none !important;
}
:-webkit-full-screen {
    background: black !important;
}

.html5-player,
.html5-player .html5-player-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}
.html5-player .html5-player-controls {
    bottom: 0;
    right: 0;
}
.html5-player video {
    position: relative;
    z-index: 0;
    width: 100%;
}
.html5-player{
    margin-top: -25%;
    top: 50%;
    bottom: auto;
}
.html5-player .poster {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.html5-player .poster.hidden {
    display: none;
}
.html5-player .throbber {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 32px;
    height: 32px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 16px;
}
.html5-player .throbber.hidden {
    display: none;
}

.html5-player-controls div {
    position: absolute;
    background: linear-gradient(135deg, rgba(149,149,149,0.5) 0%,rgba(13,13,13,0.5) 46%,rgba(1,1,1,0.5) 50%,rgba(10,10,10,0.5) 53%,rgba(78,78,78,0.5) 76%,rgba(56,56,56,0.5) 87%,rgba(27,27,27,0.5) 100%);;
    line-height: 2;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid rgba(0,0,0,.5);
    text-align: center;
    font-family: sans-serif;
    z-index: 1;
}

.html5-player-controls .mark-controls-wrapper,
.html5-player-controls .mark-controls-wrapper * {
    background: none;
    border: none;
    height: auto;
    width: auto;
}
.html5-player-controls .mark-controls-wrapper {
    display: block;
}

.html5-player-controls .mark-controls {
    width: 33%;
    position: relative;
    display: inline-block;
}
.html5-player-controls .mark-controls:first-child {
    text-align: left;
}
.html5-player-controls .mark-controls:last-child {
    text-align: right;
}
.html5-player-controls .mark-controls:first-child .timeline-control,
.html5-player-controls .mark-controls:last-child .timeline-control {
    margin: 0;
}
.html5-player-controls .timeline-control {
    font-size: 14px;
    padding: 0 6px;
    margin: 0 2px;
    position: relative;
    display: inline-block;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    min-width: 10px;
    background: rgba(0,0,0,0.01);
}
.html5-player-controls .mark-controls:first-child .timeline-control:nth-child(2),
.html5-player-controls .mark-controls:last-child .timeline-control:nth-child(2) {
    min-width: 30px;
    text-align: center;
}


.html5-player-controls .stop,
.html5-player-controls .play,
.html5-player-controls .toggle-fullScreen,
.html5-player-controls .toggle-quality,
.html5-player-controls .minimize,
.html5-player-controls .cut,
.html5-player-controls .download,
.html5-player-controls .watch {
    top: 10px;
}
.html5-player-controls .stop:active,
.html5-player-controls .play:active,
.html5-player-controls .toggle-fullScreen:active,
.html5-player-controls .toggle-quality:active,
.html5-player-controls .minimize:active,
.html5-player-controls .cut:active,
.html5-player-controls .download:active,
.html5-player-controls .channel-up:active,
.html5-player-controls .channel-down:active,
.html5-player-controls .vdr-web-symbol.timeline-control:active {
    background-color: rgba(255,255,255,0.5);
}
.html5-player-controls .play,
.html5-player-controls .jump-mark-prev {
    left: 10px;
}
.html5-player-controls .play.pause {
    font-weight: bold;
}
.html5-player-controls .stop,
.html5-player-controls.cut .cut {
    left: 64px;
}

.html5-player-controls .toggle-fullScreen,
.html5-player-controls .watch {
    left: 118px;
}

.html5-player-controls .minimize {
    left: 172px;
}

.html5-player-controls .toggle-quality {
    left: 226px;
}

.html5-player-controls .cut {
    left: 280px;
}

.html5-player-controls .download {
    left: 334px;
}

.html5-player-controls .channel-up,
.html5-player-controls .channel-down,
.html5-player-controls .move-mark-forward,
.html5-player-controls .move-mark-backward,
.html5-player-controls .mark-minute-forward,
.html5-player-controls .mark-minute-backward {
    left: 10px;
    top: 50%;
}
.html5-player-controls .mark-minute-forward,
.html5-player-controls .mark-minute-backward {
    right: 10px;
    left: auto;
}

.html5-player-controls .channel-up,
.html5-player-controls .move-mark-backward,
.html5-player-controls .mark-minute-backward {
    margin-top: -49px;
}

.html5-player-controls .channel-down,
.html5-player-controls .move-mark-forward,
.html5-player-controls .mark-minute-forward{
    margin-top: 5px;
}

.html5-player-controls .move-mark-forward {
    transform: rotate(180deg);
}

.html5-player-controls .info {
    z-index: 0;
    border: none;
    border-radius: 0;
    background: none;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    line-height: inherit;
}

.html5-player-controls .title {
    top: 23px;
    font-size: 16px;
}

.html5-player-controls .short-text {
    top: 41px;
    font-size: 12px;
}
.html5-player-controls .video-osd {
    height: auto;
    padding: 3px 10px;
    border-radius: 0;
    border: none;
    background: rgba(0,0,0,.5);
    bottom: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    z-index: 0;
}
.html5-player-controls.cut .video-osd {
    width: auto;
}
.html5-player-controls .video-osd > div {
    position: relative;
    margin-bottom: 3px;
}
.html5-player-controls .info-area {
    width: 100%;
    margin: 0;
    min-height: 38px;
}
.html5-player-controls.cut .info-area {
    display: none;
}

.html5-player-controls .info-area.has-logo {
    padding-left: 45px;
    background-repeat: no-repeat;
    background-size: 38px 38px;
    background-position: 2px 2px;
    width: calc(100% - 45px);
}

.html5-player-controls .info-area .info {
    top: 0;
    text-align: left;
    background: none;
    left: auto;
    right: auto;
}
.html5-player-controls .info-area .short-text.info {
    top: 18px;
}
.html5-player-controls .video-osd .timeline,
.html5-player-controls .video-osd .progress {
    width: auto;
}
.html5-player-controls .progress .info {
    position: relative;
    width: 25%;
    float: left;
    font-size: 15px;
    line-height: 1;
}
.html5-player-controls .progress .progress-start {
    width: 24%;
}
.html5-player-controls .progress .progress-current {
    width: 26%;
}
.html5-player-controls .progress .progress-duration,
.html5-player-controls .progress .progress-start {
    text-align: left;
}
.html5-player-controls .progress .progress-current,
.html5-player-controls .progress .progress-end {
    text-align: right;
}

.html5-player-controls .slider {
    width: 10px;
    height: 10px;
    transition: box-shadow .3s;
}
.html5-player-controls .size-select.active,
.html5-player-controls .bitrate-select.active,
.html5-player-controls .slider.active {
    box-shadow: 0 0 40px 0 rgba(255,255,255,0.5);
}

.html5-player-controls .slider div {
    background: white;
    bottom: 1px;
    left: 1px;
    right: 1px;
    top: 1px;
    height: auto;
    width: auto;
    border: none;
}
.html5-player-controls .slider div.cutting-mark {
    border-left: 1px solid red;
    position: absolute;
    top: -3px;
    bottom: -3px;
    width: 0;
    border-radius: 0;
    background-color: rgba(255,0,0,0.5);
}
.html5-player-controls .slider div.cutting-mark.active:before {
    position: absolute;
    width: 0;
    height: 0;
    content: '';
    left: -5px;
    bottom: -7px;
    border: 5px solid;
    border-color: transparent transparent red;
}

.html5-player-controls .volume-wrapper {
    bottom: 102px;
    top: 10px;
    right: 20px;
    height: auto;
    background: none;
    border: none;
    z-index: 1;
}
.html5-player-controls .volume {
    bottom: 0;
    top: 0;
    right: 0;
    height: auto;
    left: 0;
    margin: 0 auto;
}

.html5-player-controls .volume-indicator {
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto;
    width: 0;
    height: 30px;
    padding-top: 8px;
    border-radius: 8px;
    background: linear-gradient(135deg, rgba(149, 149, 149, 0.5) 0%, rgba(13, 13, 13, 0.5) 46%, rgba(1, 1, 1, 0.5) 50%, rgba(10, 10, 10, 0.5) 53%, rgba(78, 78, 78, 0.5) 76%, rgba(56, 56, 56, 0.5) 87%, rgba(27, 27, 27, 0.5) 100%);;
    text-align: center;
}
.html5-player-controls .volume-indicator.show {
    width: 84px;
    right: 0;
    border: 2px solid rgba(0, 0, 0, .5);
}
.html5-player-controls .volume-indicator span {
    display: inline-block;
    font-family: inherit;
}
.html5-player-controls .volume-indicator span.value {
    margin-left: 5px;
}


.html5-player-controls .quality-select {
    height: 48px;
    z-index: 1;
}
.html5-player-controls .quality-select,
.html5-player-controls .quality-select div {
    width: 200px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.html5-player-controls .quality-select div {
    width: 80px;
    border: none;
    background: none;
}
.html5-player-controls .quality-select div.select {
    overflow: hidden;
    height: 23px;
    border-bottom: 1px solid white;
    border-radius: 0;
}
.html5-player-controls div.size-select {
    right: 100px;
}
.html5-player-controls div.bitrate-select {
    left: 100px;
}
.html5-player-controls .select .item-list {
    top: 0;
    bottom: auto;
    height: auto;
}
.html5-player-controls div.select div.item {
    position: relative;
    height: 24px;
    line-height: 24px;
}
.modal-overlay.modal-video {
    z-index: 3;
}

.video-minimized .html5-player {
    margin-top: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.video-minimized .html5-player-controls {
    top: auto;
    height: 60px;
}
.video-minimized .html5-player video {
    max-width: 320px;
    max-height: 180px;
    height: 100%;
}
.video-minimized .html5-player-controls > div {
    display: none;
}
.video-minimized .html5-player-controls .video-osd {
    display: block;
    width: auto;
    bottom: 0;
}

@media (orientation: portrait) {
    .video-minimized #viewport {
        min-height: 50%;
        height: calc(100% - 180px - 50px);
    }
    .video-minimized .modal-overlay {
        min-height: 50%;
        height: calc(100% - 180px);
    }
    .video-minimized .modal-overlay.modal-video {
        max-height: 50%;
        height: 180px;
        top: auto;
        min-height: 0;
    }
    .html5-player-controls .video-osd {
        bottom: -40px;
    }

    .html5-player-controls .stop,
    .html5-player-controls .play,
    .html5-player-controls .toggle-fullScreen,
    .html5-player-controls .toggle-quality,
    .html5-player-controls .minimize,
    .html5-player-controls .move-mark-backward,
    .html5-player-controls.cut .cut,
    .html5-player-controls.cut .watch {
        top: -54px;
    }
    .html5-player-controls .channel-up,
    .html5-player-controls .channel-down,
    .html5-player-controls .cut,
    .html5-player-controls .download,
    .html5-player-controls .move-mark-backward,
    .html5-player-controls .move-mark-forward,
    .html5-player-controls .mark-minute-backward,
    .html5-player-controls .mark-minute-forward {
        bottom: -90px;
        top: auto;
    }
    .html5-player-controls.cut .cut {
        bottom: auto;
    }
    .html5-player-controls .move-mark-backward {
        left: 10px;
    }
    .html5-player-controls .mark-minute-backward,
    .html5-player-controls .mark-minute-forward {
        left: auto;
    }
    .html5-player-controls .mark-minute-forward {
        right: 10px;
    }
    .html5-player-controls .mark-minute-backward {
        right: 64px;
    }
    .html5-player-controls .channel-down,
    .html5-player-controls .move-mark-forward {
        left: 64px;
    }

    .html5-player-controls .cut,
    .html5-player-controls .download {
        left: auto;
    }

    .html5-player-controls .cut {
        right: 64px;
    }

    .html5-player-controls .download {
        right: 10px;
    }

    .html5-player-controls .cut {
        left: auto;
    }
    .html5-player-controls .volume-wrapper {
        bottom: 10px;
    }
    .html5-player-controls .volume-indicator,
    .html5-player-controls .quality-select {
        bottom: 60px;
    }
    .html5-player-controls .video-osd {
        width: calc(100% - 84px);
    }
}
@media (orientation: landscape) {
    .has-video-player.video-minimized #menubar {
        min-width: calc(50% - 17px);
        width: calc(100% - 320px - 17px);
    }
    .has-video-player.video-minimized #viewport {
        min-width: 50%;
        width: calc(100% - 320px);
    }
    .has-video-player.video-minimized .modal-overlay.modal-video {
        left: auto;
        max-width: 50%;
        width: 320px;
        min-width: 0;
    }
    .video-minimized .modal-overlay {
        min-width: 50%;
        width: calc(100% - 320px);
    }
    .video-minimized #viewport .modal-overlay {
        min-width: 0;
        width: auto;
    }
    .html5-player {
        margin: auto 0;
        top: 0;
        bottom: 0;
    }
    .html5-player video {
        position: absolute;
        display: block;
        margin: auto 0;
        bottom: 0;
        top: 0;
    }
}