.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
#viewport .modal-overlay {
    position: absolute;
    height: 100%;
}
.modal-overlay.transparent {
    background: rgba(0,0,0,0.01);
}

/** default window styles */

.window {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    background: #696969;
    border-bottom: 20px solid #696969;
    z-index: 2;
    overflow: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 1);
}

.window-close {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 20px;
    cursor: default;
    text-align: center;
    border-radius: 12px;
    background: red;
    z-index: 1;
}

.window-header {
    background: white;
    color: black;
    padding: 20px;
}

.window-header * {
    color: inherit;
}

.window-header.has-fanart {
    position: relative;
    z-index: 0;
    color: white;
    padding-bottom: 0;
}
.window-header.has-fanart:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}
.window-header.has-fanart .wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    width: calc(100% - 40px);
}
.window-header.has-fanart h2,
.window-header.has-fanart ul {
    position: relative;
    z-index: 1;
    text-shadow: 2px 3px 4px black;
}
.window-header.has-fanart .fanart {
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
    max-width: 100%;
}

.window-body {
    white-space: pre-wrap;
}

/* Broadcast window related styles */

.window-header-image {
    max-width: 50%;
}

.window-header-details {
    clear: left;
    padding: 0;
    margin-right: 20px;
}

.window.image-expanded .window-header-details {
    width: calc(100% - 20px);
}
.window-header-components li {
    margin-left: 5px;
}
.window-header .additional-info {
    clear: both;
}

.body .details {
}

.button-list li {
    width: calc(100% / 2 - 10px);
    float: left;
}
.button-list li:nth-child(2n+1) {
    margin-right: 20px;
}
.window-button {
    text-align: center;
    margin-bottom: 20px;
}
.window-button dt {
    text-align: center;
    margin: 0 auto 5px;
    width: 60px;
    height:60px;
    font-family: sans-serif;
    position: relative;
}
.window-button.vdr-web-symbol dt {
    font-family: VDR-web, sans-serif;
    font-size: 30px;
}
.window-button.round dt {
    border-radius: 30px;
    background: #404040;
    box-shadow: 0 0 5px 0 #404040, 0 0 5px #FFFFFF inset;
}
.window-button.round dt:active {
    box-shadow: 0 0 40px 0 #e9e9e9, 0 0 30px #FFFFFF inset;
}
.delete-button dt,
.record-button dt {
    box-shadow: 0 0 5px 0 #FF0000, 0 0 5px #FFFFFF inset;
}
.window-button.delete-button dt:active,
.window-button.record-button dt:active {
    box-shadow: 0 0 40px 0 #FF0000, 0 0 30px #FFFFFF inset;
}
.symbol-button dt {
    font-size: 40px;
    line-height: 63px;
}
.window-button.generate-button dt {
    background-color: rgb(27, 91, 160);
}
.window-button.generate-button dt:active {
    box-shadow: 0 0 40px 0 rgb(27, 91, 160), 0 0 30px #FFFFFF inset;
}
.window-button.watch-button dt {
    background-color: rgb(0, 0, 160);
    text-indent: 5px;
}
.window-button.watch-button dt:active {
    box-shadow: 0 0 40px 0 rgb(0, 0, 160), 0 0 30px #FFFFFF inset;
}
.delete-button.round dt {
    background: red;
}
.activate-button.round.is-active dt {
    background: green;
    box-shadow: 0 0 5px 0 green, 0 0 5px #FFFFFF inset;
}
.activate-button.round.is-active dt:active {
    box-shadow: 0 0 40px 0 green, 0 0 30px #FFFFFF inset;
}
.edit-button.round dt {
    background: rgb(255, 163, 0);
    box-shadow: 0 0 5px 0 rgb(255, 163, 0), 0 0 5px #FFFFFF inset;
}
.window-button.edit-button.round dt:active {
    box-shadow: 0 0 40px 0 rgb(255, 163, 0), 0 0 30px #FFFFFF inset;
}
.web-button dt img {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px 0 black;
}

.web-button.imdb dt img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: auto;
    height: auto;
}
.web-button.imdb dt img:active {
    box-shadow: 0 0 40px 0 rgb(255, 163, 0), 0 0 30px #FFFFFF inset;
}

/** Notification */
.window-notification {
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    margin: auto;
    width: 90%;
    color: white;
    font-weight: bold;
    background-color: rgba(10, 40, 10, 0.50);
    transition: opacity .7s linear;
    text-align: center;
    border-radius: 20px;
    opacity: 0;
    line-height: 16px;
    font-size: 16px;
    height: 16px;
    padding: 10px 0;
}

.window-notification.show {
    opacity: 1;
}

.window-notification.error {
    background-color: rgba(255, 0, 0, 0.50);
}

/* Inpput Popup */
.window-input {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    padding-top: 10px;
    width: 80%;
    border-bottom: none;
    margin-left: 10%;
    margin-right: 10%;
}
.window-input .window-body {
    padding: 0 20px;
}

.window-form {
    border-bottom: none;
}

.window-form form {
    overflow: auto;
    height: 100%;
}

.window-form .button,
.window-input .button {
    float: left;
    border: none;
    background: none;
    padding: 15px 0;
    width: 50%;
    border-top: 1px solid white;
    text-align: center;
    margin: 10px 0 0 0;
}

.window-form .button:active,
.window-input .button:active {
    background-color: rgba(255,255,255,0.5);
}

.window-form .button-confirm,
.window-input .button-confirm {
    margin: 10px 0 0 0;
    width: calc(50% - 1px);
    border-left: 1px solid white;
}

/* Confirm Popup */
div.confirm {
    border: none;
}
div.confirm .header {
    padding: 10px 20px;
}
div.window.confirm .body {
    color: white;
    padding: 20px 0;
}
div.window.confirm li {
    text-align: center;
    font-size: 1.25em;
    float: left;
    height: 50%;
    width: 50%;
}
div.window.confirm li:first-child {
    width: calc(50% - 1px);
    border-right: 1px solid white;
}


/** context/item menu */
.context-menu {
    position: absolute;
    right: 10px;
    background: #696969;
    top: 50px;
    opacity: 1;
}

.context-menu div {
    border-top: 1px solid rgb(150, 150,150);
    padding: 10px;
    position: relative;
}

.window-item-menu {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    padding: 0;
    width: 80%;
    border-bottom: none;
    margin-left: 10%;
    margin-right: 10%;
}

.window-item-menu .header {
    border-bottom: 1px solid white;
    padding: 10px;
    font-weight: bold;
}

.window-item-menu .button {
    width: calc(100% - 20px);
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    position: relative;
}
.window-item-menu .button:last-child {
    border-style: none;
}
.context-menu div.menu-button.active/*,
.context-menu div:active*/ {
    background-color: rgba(255,255,255,0.5);
    color: black;
}

div.window.viewport-fullsize,
form.window.viewport-fullsize {
    box-shadow: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.alert-info {
    font-size: .75em;
}


@media (min-width: 800px), (min-height: 800px) {
    .window-input .button {
        padding: 8px 0;
    }
    .context-menu div {
        font-size: .75em;
    }
}

@media (min-width: 1100px), (min-height: 1100px) {
}
