.accordion .accordion-header {
    font-weight: bold;
    padding: 5px 3px;
    position: relative;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
.accordion .accordion-header:after,
.accordion-indicator {
    font-family: VDR-web, sans-serif;
    content: 'S';
    position: absolute;
    right: 3px;
    transform: rotate(90deg);
    transition: transform .2s ease-out;
    font-size: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 12px;
}
.accordion .accordion-header.active:after,
input[type="checkbox"]:checked ~ .accordion-indicator,
.accordion .accordion-header.initially-open:after,
.accordion-indicator.initially-open {
    transform: rotate(180deg);
}
.accordion .accordion-content {
    overflow: hidden;
    transition: max-height .2s ease-out;
    background: rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 0 3px;
}
.accordion .accordion-content.initially-open,
.accordion .accordion-header.initially-open:after {
    transition-duration: 0s;
}

.accordion .accordion-content.closed {
    max-height: 0 !important;
}